 
    
<% if(take) %>
    <h1><%= take %></h1>
    <!-- <tr>
      <th scope="row">-></th>
    <td><input type="text"></td>
    <td><input type="number" min="0"></td>
    <td><input type="text"></td>
     
  </tr>

  -->