<%- include('header') %>

<table class="table">
    <thead>
      <tr>
        <th scope="col">S.no</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
        <th scope="col">max cost</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>

  <%- include('footer') %>